
@{
    ViewBag.Title = "Visual";
    Layout = "~/Views/Shared/MyTamplate.cshtml";
}

<section>
<div id="hexagon1" class="hex-wreper" onclick="location.href='@Url.Action("Index","Product")'" > 
    <div id="color1" class="hex" onclick="location.href='@Url.Action("Index","Poduct")'"></div>
</div>

<div id="hexagon2" class="hex-wreper">
    <div id="color2" class="hex"></div>
</div>

<div id="hexagon3" class="hex-wreper">
    <div id="color3" class="hex"></div>
</div>


<div id="hexagon4" class="hex-wreper1">
    <div id="color4" class="hex"></div>
</div>
<div id="hexagon5" class="hex-wreper1">
    <div id="color5" class="hex"></div>
</div>
<div id="hexagon6" class="hex-wreper1">
    <div id="color6" class="hex"></div>
</div>
<div id="hexagon7" class="hex-wreper1">
    <div id="color7" class="hex"></div>
</div> 
    </section>
